{% extends "base.html" %}
{% block title %}Centros de Treinamento{% endblock %}
{% block content %}
<h1>Centros de Treinamento no Beach Buddy</h1>

{% if user.usuario.tipo == "GERENTE" %}
<p><a href="{% url 'ct_create' %}">+ Novo Centro</a></p>
{% endif %}

{% if cts %}
<ul>
    {% for ct in cts %}
    <li>
        <a href="{% url 'ct_detail' ct.pk %}">{{ ct.nome }}</a>
    {% if user.usuario.tipo == "GERENTE" and ct.gerente_id == user.id %}
    — <a href="{% url 'ct_update' ct.pk %}">Editar</a>
    — <a href="{% url 'ct_delete' ct.pk %}">Excluir</a>
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nenhum centro cadastrado.</p>
{% endif %}
{% endblock %}