{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head><meta charset="UTF-8"><title>Redefinição de senha</title></head>
<body>
<p>Você (ou alguém) solicitou a redefinição da senha da sua conta em {{ site_name }}.</p>
<p>Caso não tenha sido você, ignore este e-mail e nada será alterado.</p>
<p>Para escolher uma nova senha, clique no link abaixo ou copie e cole no navegador:</p>
<p>
{% url 'password_reset_confirm' uidb64=uid token=token as reset_link %}
<a href="{{ protocol }}://{{ domain }}{{ reset_link }}">{{ protocol }}://{{ domain }}{{ reset_link }}</a>
</p>
<p>Seu nome de usuário: <strong>{{ user.get_username }}</strong></p>
<p>Obrigado,<br>Equipe {{ site_name }}</p>
</body>
</html>
